.cabeçalho_lista {
background-color: green;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
font-size: 24px;
}

.cabeçalho_imagem {
width: 15%;
height: 15%;
}

.itens{
    display: inline-block;
    margin: 0 32px;
    font-size: 30px;

}

* {
    margin: 0 16px;
    padding: 24px 0;
}

nav{
    padding: 0,2px;
background-color: blue;
border-bottom: 2px solid rgb(228, 109, 109);
font-size: 32px;
color: white;
}




