.cabeçalho_lista {
background-color: green;
color: white;
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}

.cabeçalho_imagem {
width: 15%;
height: 15%;
}

.cabeçalho_imagem{
    display: inline-block;
    margin: 0 32px;
    font-size: 24px;
}

* {
    margin: 0;
    padding: 0;
}







